body { 
	background: url(https://dncache-mauganscorp.netdna-ssl.com/cropped-wallpapers/303/303939-1366x768-[DesktopNexus.com].jpg?st=Oh9BnkFxCHGJQigthsDzgg&e=1487603482) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-size: cover;
  	font-family: 'Quicksand', sans-serif;
}

.transparency {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
	opacity: 0.5;ss
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

#toggle {
  display: none;
}

.butt {
  z-index: 999;
  width: 43px;
  height: 43px;
  background: #F28482;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.butt:before {
  position: absolute;
  top: 20px;
  left: 9px;
  content: '';
  width: 25px;
  height: 2px;
  background: #FFF;
  transform: rotate(90deg);
}

.butt:after {
  position: absolute;
  top: 20px;
  left: 9px;
  content: '';
  width: 25px;
  height: 2px;
  background: #FFF;
}

#toggle:checked ~ .butt {
  transform: rotate(135deg);
  box-shadow: 0 0 0 0 transparent;
}

@media only screen and (min-width: 768px) {
	#padd {
		padding-left: 50px;
	}
}