<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/DS.css">
  <script src="js/jquery.js"></script>
  <script src="js/boot.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="controllers/mainCtrl.js"></script>
  <title>Graph</title>
</head>
<body ng-app="myApp" ng-controller="graphController" ng-init="loadData()">
<div class="navbar-wrapper">
    <div class="container-fluid" >
        <nav class="navbar navbar-fixed-top">
            <div class="container" style="width: 100%;line-height: 0px">
    <div class="row add" style="min-height: 83px;margin-bottom: 0px;background-color:#80b0da">
         <div class="col-md-6 col-xs-2 col-sm-6">
            <img src="1.png" alt="logo" height="75px" style="padding-top: 8px">
         </div>
         <div class="col-md-6 col-xs-10 col-sm-6 text-right " >
            <ul class=" dropdown pull-right " style="padding: 10px;margin-top:23px;margin-bottom: 0px;padding-right: 3px">
              <span class="glyphicon glyphicon-user" style="font-size: 18px"></span>
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="font-size: 20px;color:rgba(0,0,0,0.52)">hello user 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="color:rgba(126,122,158,0.52);margin:0px;background-color: rgba(137,153,171,0)">
                    <li><a href="#" style="color:rgba(0,0,0,0.75)">Change Password</a></li>
                    <li><a href="#" style="color:rgba(0,0,0,0.75)">My Profile</a></li>
                    <li><a href="#" style="color:rgba(0,0,0,0.75)">LogOut</a></li>
                  </ul>
              </ul>
        </div>
    </div>
   </div>
   </nav>
   </div>
   </div>
 	 <div id="wrapper" style="margin-top: 75px">
	 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="ip.html" style="color: rgb(50, 53, 68)">Home</a>
                </li>
                <li>
                    <a href="stack.html" style="color: rgb(50, 53, 68)" >Stacks</a>
                </li>
                <li>
                    <a href="Tree.html" style="color: rgb(50, 53, 68)">Trees</a>
                </li>
                <li>
                  <a href="Queue.html" style="color: rgb(50, 53, 68)">Queues</a>
                </li>
            </ul>
        </div>
		<!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header" style="padding-top: 5px">
                <h1 id="home" class="glyphicon glyphicon-align-justify"><font size="20px">Graphs </font></h1>
            </div>
        </div>
        <div class="row" style="margin-left: 15px;margin-right: 20px">
            <p id="demo" style="font-size: 18px;line-height: 35px">
              <b>1.The time complexity of computing the transitive closure of a binary relation on a set of n elements is known to be:</b>
              <br>
              <input type="radio" id="q11" name="1" onclick="f1()" >O(n)<br>
              <input type="radio" id="q12" name="1" onclick="f1()" >O(nlogn)<br>
              <input type="radio" id="q13" name="1" onclick="f1()" >O(n^(3/2))<br>
              <input type="radio" id="q14" name="1" onclick="f1()" >O(n^3)<br>
              <span id="q15" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q16" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>2. Which of the following statements is/are TRUE for an undirected graph? P: Number of odd degree vertices is even Q: Sum of degrees of all vertices is even</b>
              <br>
              <input type="radio" name="2"  id="q21" onclick="f2()" >P only<br>
              <input type="radio" name="2"  id="q22" onclick="f2()" >Q only<br>
              <input type="radio" name="2"  id="q23" onclick="f2()" >Both P and Q<br>
              <input type="radio" name="2"  id="q24" onclick="f2()" >Neither P and Q<br>
              <span id="q25" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q26" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>3. Given an undirected graph G with V vertices and E edges, the sum of the degrees of all vertices is</b>
              <br>
              <input type="radio" name="3"  id="q31" onclick="f3()" >E<br>
              <input type="radio" name="3"  id="q32" onclick="f3()" >2E<br>
              <input type="radio" name="3"  id="q33" onclick="f3()" >V<br>
              <input type="radio" name="3"  id="q34" onclick="f3()" >2V<br>
              <span id="q35" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q36" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>4. What is the maximum number of edges in an acyclic undirected graph with n vertices?</b>
              <br>
              <input type="radio" name="4"  id="q41" onclick="f4()" >n-i<br>      
              <input type="radio" name="4"  id="q42" onclick="f4()" >n<br>
              <input type="radio" name="4"  id="q43" onclick="f4()" >n+1<br>
              <input type="radio" name="4"  id="q44" onclick="f4()" >2n-1<br>
              <span id="q45" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q46" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>5. Let G be a simple graph with 20 vertices and 8 components. If we delete a vertex in G, then number of components in G should lie between ____.
              </b>
              <br>
              <input type="radio" name="5"  id="q51" onclick="f5()" >8 and 20<br>
              <input type="radio" name="5"  id="q52" onclick="f5()" >8 and 19<br>
              <input type="radio" name="5"  id="q53" onclick="f5()" >7 and 19<br>
              <input type="radio" name="5"  id="q54" onclick="f5()" >7 and 20<br>
              <span id="q55" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q56" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
          <b>6. What is the largest integer m such that every simple connected graph with n vertices and n edges contains at least m different spanning trees?</b>
              <br>
              <input type="radio" name="6"  id="q61" onclick="f6()" >1<br>
              <input type="radio" name="6"  id="q62" onclick="f6()" >2<br>
              <input type="radio" name="6"  id="q63" onclick="f6()" >3<br>
              <input type="radio" name="6"  id="q64" onclick="f6()" >n<br>
              <span id="q65" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q66" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>

            <!-- Adding data from server -->
            <div ng-repeat="x in arr">
            <p style="font-size: 18px;line-height: 35px">
              <b>Ques. {{x.question}}</b>
              <br>
              <div ng-repeat="op in x.options"><input type="radio" name="">{{op}}</div>
              <span class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            </div>
            
            <center><a role="button" class="btn btn-success btn-lg btn3d" style="font-size: 24px" >Submit</a></center>
            </div>
	</div>

  <script>
function f1()
{
  correct=document.getElementById('q14');
      if(correct.checked)
       {
        document.getElementById("q15").style.display="inline";
        document.getElementById("q16").style.display="none";
       
     }
      else {
        
        document.getElementById("q15").style.display="none";
        document.getElementById("q16").style.display="inline";
      
      }
}
function f2()
{
  correct=document.getElementById('q23');
      if(correct.checked)
       {
        document.getElementById("q25").style.display="inline";
        document.getElementById("q26").style.display="none";
       
     }
      else {
        
        document.getElementById("q25").style.display="none";
        document.getElementById("q26").style.display="inline";
      
      }
}
function f3()
{
  correct=document.getElementById('q32');
      if(correct.checked)
       {
        document.getElementById("q35").style.display="inline";
        document.getElementById("q36").style.display="none";
       
     }
      else {
        
        document.getElementById("q35").style.display="none";
        document.getElementById("q36").style.display="inline";
      
      }
}
function f4()
{
  correct=document.getElementById('q41');
      if(correct.checked)
       {
        document.getElementById("q45").style.display="inline";
        document.getElementById("q46").style.display="none";
       
     }
      else {
        
        document.getElementById("q45").style.display="none";
        document.getElementById("q46").style.display="inline";
      
      }
}
function f5()
{
  correct=document.getElementById('q53');
      if(correct.checked)
       {
        document.getElementById("q55").style.display="inline";
        document.getElementById("q56").style.display="none";
       
     }
      else {
        
        document.getElementById("q55").style.display="none";
        document.getElementById("q56").style.display="inline";
      
      }
}
function f6()
{
  correct=document.getElementById('q63');
      if(correct.checked)
       {
        document.getElementById("q65").style.display="inline";
        document.getElementById("q66").style.display="none";
       
     }
      else {
        
        document.getElementById("q65").style.display="none";
        document.getElementById("q66").style.display="inline";
      
      }
}
</script>
</body>
</html>
