<div ng-controller="quesController" ng-init="loadData('/graph/')">
	<ol type="1" style="font-size: 20px;">
		<li>
			<div>The time complexity of computing the transitive closure of a binary relation on a set of n elements is known to be :</div>
			<div data-toggle="buttons">
				<label class="btn active">
					<input type="radio" name="mcq1" required>
					<i class='fa fa-circle-o fa-x'></i>
					<i class='fa fa-dot-circle-o fa-x'></i>
					&nbsp; &nbsp;
					<span style="font-size: 18px;">O(n)</span>
				</label>
			</div>
			<div data-toggle="buttons">
				<label class="btn active">
					<input type="radio" name="mcq1" required>
					<i class='fa fa-circle-o fa-x'></i>
					<i class='fa fa-dot-circle-o fa-x'></i>
					&nbsp; &nbsp;
					<span style="font-size: 18px;">O(nlogn)</span>
				</label>
			</div>
			<div data-toggle="buttons">
				<label class="btn active">
					<input type="radio" name="mcq1" required>
					<i class='fa fa-circle-o fa-x'></i>
					<i class='fa fa-dot-circle-o fa-x'></i>
					&nbsp; &nbsp;
					<span style="font-size: 18px;">O(n^(3/2))</span>
				</label>
			</div>
			<div data-toggle="buttons">
				<label class="btn active">
					<input type="radio" name="mcq1" required>
					<i class='fa fa-circle-o fa-x'></i>
					<i class='fa fa-dot-circle-o fa-x'></i>
					&nbsp; &nbsp;
					<span style="font-size: 18px;">O(n^3)</span>
				</label>
			</div>
		</li>
		<li>
			<div>What is the maximum number of edges in an acyclic undirected graph with n vertices?</div>
			<div data-toggle="buttons">
				<label class="btn active">
					<input type="radio" name="mcq2" required>
					<i class='fa fa-circle-o fa-x'></i>
					<i class='fa fa-dot-circle-o fa-x'></i>
					&nbsp; &nbsp;
					<span style="font-size: 18px;">n-1</span>
				</label>
			</div>
			<div data-toggle="buttons">
				<label class="btn active">
					<input type="radio" name="mcq2" required>
					<i class='fa fa-circle-o fa-x'></i>
					<i class='fa fa-dot-circle-o fa-x'></i>
					&nbsp; &nbsp;
					<span style="font-size: 18px;">n</span>
				</label>
			</div>
			<div data-toggle="buttons">
				<label class="btn active">
					<input type="radio" name="mcq2" required>
					<i class='fa fa-circle-o fa-x'></i>
					<i class='fa fa-dot-circle-o fa-x'></i>
					&nbsp; &nbsp;
					<span style="font-size: 18px;">n+1</span>
				</label>
			</div>
			<div data-toggle="buttons">
				<label class="btn active">
					<input type="radio" name="mcq2" required>
					<i class='fa fa-circle-o fa-x'></i>
					<i class='fa fa-dot-circle-o fa-x'></i>
					&nbsp; &nbsp;
					<span style="font-size: 18px;">2n-1</span>
				</label>
			</div>
		</li>

		<!-- Adding data from server -->
		<li ng-repeat="x in arr">
			<div>{{x.question}}</div>
			<div ng-repeat="op in x.options">
				<div data-toggle="buttons">
					<label class="btn active">
						<input type="radio" name="mcq" required>
						<i class='fa fa-circle-o fa-x'></i>
						<i class='fa fa-dot-circle-o fa-x'></i>
						&nbsp; &nbsp;
						<span style="font-size: 18px;">{{op}}</span>
					</label>
				</div>
			</div>
		</li>
	</ol>