<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/DS.css">
  <script src="jq/jquery.js"></script>
  <script src="jq/boot.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="controllers/mainCtrl.js"></script>
  <title>Tree</title>
</head>
<body ng-app="myApp" ng-controller="treeController" ng-init="loadData()">
<div class="navbar-wrapper">
    <div class="container-fluid" >
        <nav class="navbar navbar-fixed-top">
            <div class="container" style="width: 100%;line-height: 0px">
    <div class="row add" style="min-height: 83px;margin-bottom: 0px;background-color:#80b0da">
         <div class="col-md-6 col-xs-2 col-sm-6">
            <img src="1.png" alt="logo" height="75px" style="padding-top: 8px">
         </div>
         <div class="col-md-6 col-xs-10 col-sm-6 text-right " >
            <ul class=" dropdown pull-right " style="padding: 10px;margin-top:23px;margin-bottom: 0px;padding-right: 3px">
              <span class="glyphicon glyphicon-user" style="font-size: 18px"></span>
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="font-size: 20px;color:rgba(0,0,0,0.52)">hello user 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="color:rgba(126,122,158,0.52);margin:0px;background-color: rgba(137,153,171,0)">
                    <li><a href="#" style="color:rgba(0,0,0,0.75)">Change Password</a></li>
                    <li><a href="#" style="color:rgba(0,0,0,0.75)">My Profile</a></li>
                    <li><a href="#" style="color:rgba(0,0,0,0.75)">LogOut</a></li>
                  </ul>
              </ul>
        </div>
    </div>
   </div>
   </nav>
   </div>
   </div>
 	 <div id="wrapper" style="margin-top: 75px">
	 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="ip.html" style="color: rgb(50, 53, 68)">Home</a>
                </li>
                <li>
                    <a href="stack.html" style="color: rgb(50, 53, 68)" >Stacks</a>
                </li>
                <li>
                    <a href="Graph.html" style="color: rgb(50, 53, 68)">Graphs</a>
                </li>
                <li>
                  <a href="Queue.html" style="color: rgb(50, 53, 68)">Queues</a>
                </li>
            </ul>
        </div>
		<!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header" style="padding-top: 5px">
                <h1 id="home" class="glyphicon glyphicon-align-justify"><font size="20px">Trees </font></h1>
            </div>
        </div>
        <div class="row" style="margin-left: 15px;margin-right: 20px">
            <p id="demo" style="font-size: 18px;line-height: 35px">
              <b>1. The maximum number of binary trees that can be formed with three unlabeled nodes is:</b>
              <br>
              <input type="radio" id="q11" name="1" onclick="f1()" >1<br>
              <input type="radio" id="q12" name="1" onclick="f1()" >5<br>
              <input type="radio" id="q13" name="1" onclick="f1()" >4<br>
              <input type="radio" id="q14" name="1" onclick="f1()" >3<br>
              
              <span id="q15" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q16" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>2. The number of leaf nodes in a rooted tree of n nodes, with each node having 0 or 3 children is:</b>
              <br>
              <input type="radio" id="q21" name="2" onclick="f2()" >n/2<br>
              <input type="radio" id="q22" name="2" onclick="f2()" >(n-1)/3<br>
              <input type="radio" id="q23" name="2" onclick="f2()" >(n-1)/2<br>
              <input type="radio" id="q24" name="2" onclick="f2()" >(2n+1)/3<br>
               <span id="q25" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q26" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>3. The height of a binary tree is the maximum number of edges in any root to leaf path. The maximum number of nodes in a binary tree of height h is:</b>
              <br>
              <input type="radio" id="q31" name="3" onclick="f3()" >2^h-1<br>
              <input type="radio" id="q32" name="3" onclick="f3()" >(2^(h-1))-1<br>
              <input type="radio" id="q33" name="3" onclick="f3()" >(2^(h+1))-1<br>
              <input type="radio" id="q34" name="3" onclick="f3()" >2^(h+1)<br>
               <span id="q35" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q36" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>4. The difference between the external path length and the internal path length of a binary tree with n internal nodes is?
              </b>
              <br>
              <input type="radio" id="q41" name="4" onclick="f4()" >1<br>
              <input type="radio" id="q42" name="4" onclick="f4()" >n<br>
              <input type="radio" id="q43" name="4" onclick="f4()" >n+1<br>
              <input type="radio" id="q44" name="4" onclick="f4()" >2n<br>
               <span id="q45" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q46" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>5. Suppose we have numbers between 1 and 1000 in a binary search tree and want to search for the number 363. Which of the following sequence could not be the sequence of the node examined?</b>
              <br>
              <input type="radio" id="q51" name="5" onclick="f5()" >2, 252, 401, 398, 330, 344, 397, 363<br>
              <input type="radio" id="q52" name="5" onclick="f5()" >924, 220, 911, 244, 898, 258, 362, 363<br>
              <input type="radio" id="q53" name="5" onclick="f5()" >925, 202, 911, 240, 912, 245, 258, 363<br>
              <input type="radio" id="q54" name="5" onclick="f5()" >  2, 399, 387, 219, 266, 382, 381, 278, 363<br>
               <span id="q55" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>.
              <span id="q56" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            <p style="font-size: 18px;line-height: 35px">
              <b>6. In full binary search tree every internal node has exactly two children. If there are 100 leaf nodes in the tree, how many internal nodes are there in the tree?</b>
              <br>
              <input type="radio" id="q61" name="6" onclick="f6()" >25<br>
              <input type="radio" id="q62" name="6" onclick="f6()" >49<br>
              <input type="radio" id="q63" name="6" onclick="f6()" >99<br>
              <input type="radio" id="q64" name="6" onclick="f6()" >101<br>
               <span id="q65" class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span id="q66" class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>

            <!-- Adding data from server -->
            <div ng-repeat="x in arr">
            <p style="font-size: 18px;line-height: 35px">
              <b>Ques. {{x.question}}</b>
              <br>
              <div ng-repeat="op in x.options"><input type="radio" name="">{{op}}</div>
              <span class="glyphicon glyphicon-ok " style="display: none; color:#3fa50d;font-size:24px;padding-left: 10% ;"></span>
              <span class="glyphicon glyphicon-remove" style="display: none ;color:#ef0d0d;font-size:24px;padding-left: 10% "></span>
            </p>
            </div>
            
            <center><a role="button" class="btn btn-success btn-lg btn3d" style="font-size: 24px" >Submit</a></center>
            </div>
	</div>
  <script>
function f1()
{
  correct=document.getElementById('q12');
      if(correct.checked)
       {
        document.getElementById("q15").style.display="inline";
        document.getElementById("q16").style.display="none";
       
     }
      else {
        
        document.getElementById("q15").style.display="none";
        document.getElementById("q16").style.display="inline";
      
      }
}
function f2()
{
  correct=document.getElementById('q24');
      if(correct.checked)
       {
        document.getElementById("q25").style.display="inline";
        document.getElementById("q26").style.display="none";
       
     }
      else {
        
        document.getElementById("q25").style.display="none";
        document.getElementById("q26").style.display="inline";
      
      }
}
function f3()
{
  correct=document.getElementById('q33');
      if(correct.checked)
       {
        document.getElementById("q35").style.display="inline";
        document.getElementById("q36").style.display="none";
       
     }
      else {
        
        document.getElementById("q35").style.display="none";
        document.getElementById("q36").style.display="inline";
      
      }
}
function f4()
{
  correct=document.getElementById('q44');
      if(correct.checked)
       {
        document.getElementById("q45").style.display="inline";
        document.getElementById("q46").style.display="none";
       
     }
      else {
        
        document.getElementById("q45").style.display="none";
        document.getElementById("q46").style.display="inline";
      
      }
}
function f5()
{
  correct=document.getElementById('q53');
      if(correct.checked)
       {
        document.getElementById("q55").style.display="inline";
        document.getElementById("q56").style.display="none";
       
     }
      else {
        
        document.getElementById("q55").style.display="none";
        document.getElementById("q56").style.display="inline";
      
      }
}
function f6()
{
  correct=document.getElementById('q63');
      if(correct.checked)
       {
        document.getElementById("q65").style.display="inline";
        document.getElementById("q66").style.display="none";
       
     }
      else {
        
        document.getElementById("q65").style.display="none";
        document.getElementById("q66").style.display="inline";
      
      }
}
</script>
</body>
</html>
