<!DOCTYPE html>
<html>
	<head>
		<title>Create Challenge Page</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/include_image_button.css">
		<link rel="stylesheet" type="text/css" href="css/dropdown_button.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="js/angular.js"></script>		
		<script src="js/include_image_path.js"></script>
		<script src="js/dropdown_effect.js"></script>
	</head>
	<body>
		<form ng-app="myApp" class="container" style="font-family: 'Quicksand', sans-serif;" method="get">
			<div>
				<p style="font-size: 40px;">Create Challenge</p>
			</div>
			<div class="form-group">
  				<div>
  					<label for="challenge">Challenge Name</label>
   					<input class="form-control" type="text" placeholder="Eg: Simple Addition"><br>
   				</div>
   				<div>
   					<label for="statement">Problem Statement</label>
   					<textarea class="form-control" placeholder="Eg: Write a program to add two numbers." style="resize: none"></textarea><br>
   				</div>
   				<div>
   					<label for="statement">Input Format</label>
   					<textarea class="form-control" placeholder="Eg: The first line contains two integers (a and b respectively) separated by a space." style="resize: none"></textarea><br>
   				</div>
   				<div>
   					<label for="statement">Constraints</label>
   					<textarea class="form-control" placeholder="Eg: 1 <= a, b <= 100" style="resize: none"></textarea><br>
   				</div>
   				<div>
   					<label for="statement">Output Format</label>
   					<textarea class="form-control" placeholder="Eg: Output the addition value of a and b." style="resize: none"></textarea><br>
   				</div>
   				<div>
   					<div>
	   					<span><b>Include Image</b></span>
			   			<span style="padding-left: 30px;" class="material-switch pull">
	                       	<input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox" ng-model="value">
	                    	<label for="someSwitchOptionPrimary" class="label-primary"></label>
	                    </span>
	                </div><br>
                    <div ng-show="value" style="width: 400px" class="input-group">
                    	<label class="input-group-btn">
                    		<span class="btn btn-primary">Browse<input type="file" style="display: none;" multiple>
                    		</span>
                		</label>
                		<input type="text" class="form-control" readonly>
            		</div>
            		<br ng-show="value">
   				</div>
   				<span class="dropdown" ng-controller="selectTopic">
   					<button class="btn btn-primary btn-default" data-toggle="dropdown" class="dropdown-toggle" id="button2">{{setTopic}} <b class="caret"></b>
   					</button>
		            <ul class="dropdown-menu">
		                <li><a ng-click="selectTop('Stack')">Stack</a></li>
		                <li><a ng-click="selectTop('Queue')">Queue</a></li>
		                <li><a ng-click="selectTop('Trees')">Trees</a></li>
		                <li><a ng-click="selectTop('Graph')">Graph</a></li>
		            </ul>
   				</span>
   				<span style="padding-left: 20px" class="dropdown" ng-controller="selectDifficulty">
   					<button class="btn btn-primary btn-default" data-toggle="dropdown" class="dropdown-toggle" id="button1">{{myButton}} <b class="caret"></b>
   					</button>
		            <ul class="dropdown-menu">
		                <li><a ng-click="selectDiff('Easy')">Easy</a></li>
		                <li><a ng-click="selectDiff('Medium')">Medium</a></li>
		                <li><a ng-click="selectDiff('Hard')">Hard</a></li>
		                <li><a ng-click="selectDiff('Expert')">Expert</a></li>
		            </ul>
   				</span>
   				<div style="text-align: center; padding-top: 50px"><br>
   					<button style="width: 7em" type="submit" class="btn btn-success">Create</button>
   				</div>
    		</div>
		</form>
	</body>
</html>